/*EmojiSymbols Font (c)blockworks - Kenichi Kaneko 
http://emojisymbols.com/ 
*/
@font-face {

    font-family: EmojiSymbols;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/EmojiSymbols.woff) format(woff);

    /* Emoji unicode blocks */
    unicode-range: U+1F44E;
}

.emj {
    font-family: 'EmojiSymbols', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif !important;
    line-height: 1;
    text-decoration: none;

    font-style: normal;
}

.thumb16 {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/dislikeicon16.png) !important;
    background-size: 16px 16px !important;
}

.thumb12 {
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/dislikeicon14x12.png) !important;
    background-size: 14px 12px !important;
}

.dislike_thumb {
    background-repeat: no-repeat !important;
    cursor: pointer;
}

.chatbox {
    position: relative;
    float: left;
}

.chatbox .dislike_thumb {
    background-position: center center;
    display: block;
    height: 28px;
    width: 26px;
}

.comment_newsfeed {
    position: relative;
    float: right;;
}

.comment_newsfeed .dislike_thumb {
    height: 12px;
    width: 14px;
    display: block;
}

.status_area.dislike_thumb {
    background-position: center center !important;
}

.fix_textarea {
    width: -webkit-calc(100% - 20px) !important;
    width: -moz-calc(100% - 20px) !important;
    width: calc(100% - 20px) !important;
}



/*rewriting facebook css*/
.UFICommentPhotoIcon {
    margin: 6px 4px !important;
}

._5vsj .UFICommentPhotoIcon {
    margin: 10px 5px !important;
}

._4lh .timelineUnitContainer .UFICommentPhotoIcon {
    margin: 10px 10px 10px 0px !important;
}

._5vsj .UFIReplyList .UFIAddComment .UFICommentPhotoIcon {
    margin: 4px 5px !important;
}

.fbNubFlyout .fbNubFlyoutFooter ._552n {
    width : 75px;
}

html.celery-facebook-tab ._2nb ._1s5 {
    left : 491px !important;
}


body ._icv ._3qig .uiButtonText {
    max-width: 80px;
}