.timeline_comment {
    cursor: pointer;
    width: 44px;
    height: 16px;
    background: url(chrome-extension://__MSG_@@extension_id__/res/keyboard_icon.gif);
    float: right;
    margin-bottom: -20px;
    top: -24px;
    position: relative;
    background-image: url(chrome-extension://__MSG_@@extension_id__/res/dislikeicon.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px 1px;
    border: 1px solid transparent;
    border-top: none;
    position: relative;
    z-index: 1;
    padding-right: 2px;
}
